nav{
    margin-bottom: 0px;
    
}

nav ul{
    float:right;
    list-style-type: none;
    
}
ul li{
    display: inline-block;
    padding: 15px;
    
}
.topnav a {
    float: center;
    color: rgb(20 157 164);
    text-align: center;
    padding: 40px 21px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: rgb(142, 229, 245);
    color: rgb(103, 7, 199);
    
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: red;
    color: rgb(214, 137, 137);
  }