<div style="background-color: white">
  
    <nav class="topnav">
      &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img [src]="logoimg" alt="" width="130px" >&nbsp; &nbsp;
      <span style="color: rgb(20 157 164); font-size: x-large;">Smile Dental Clinic</span>
     
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Doctors</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
  
  
  <img [src]="myimage" alt="" width="100%" style="padding-top: 1px;">
    
  
  </div>