mt-5, .my-5 {
    margin-top: 3rem !important
    
}
.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.d-flex {
    display: flex !important;
}
.col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50;
}
.block-6 {
    margin-bottom: 40px;
}
.services .icon {
    line-height: 1.3;
    position: relative;
    width: 100px;
    height: 100px;
    background: #f8fbff;
    margin: 0 auto;
}
.row{
    display: flex;
    margin-bottom: 5%;
    margin-top: 5%;
}