
<div class="container-wrap mt-5">
    <h1 class="text-center" style="color: rgb(50, 193, 209)">Our Services keeps you smile</h1>
  <p class="text-center" style="color: grey">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>

  <div class="row">
    <div class="col-md-6 p-3">
        <img [src]="myimage" alt="" width="110%" height="100%" >
    </div>

    <div class="col-md-6 p-3 d-flex">
         <img [src]="myimage1" alt="" width="100%" >
    </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm  text-black" style="margin-left: 173px;">
      <img [src]="icon1" alt="" class="center" width="150px" >
      <p></p>
      <p style="font-weight: 500; font-size: larger;">Teeth Whitening</p>
      <p>it doesn't result in healthier teeth. But it can result in a brighter smile. This in turn can make people feel better about themselves. Teeth whitening works better for some types of stains than others.</p>
    </div>

    <div class="col-sm  text-black">
      <img [src]="icon2" alt="" class="center" width="150px" >
      <p></p>
      <p style="font-weight: 500; font-size: larger;">Dental Filling</p>
      <p>On average, you can expect a metal filling to last for about 15 years before needing to be replaced, but the length of time can vary based on several factors, such as if you grind or clench your teeth.</p>
    </div>

    <div class="col-sm  text-black">
      <img [src]="icon3" alt="" class="center" width="150px" >
      <p></p>
      <p style="font-weight: 500; font-size: larger;">Teeth Checkup</p>
      <p>Dental checkups are routine visits that consist of an examination and cleaning. Dental treatments are specialized visits to treat issues with fillings, deep teeth cleanings, root canals, teeth removal, and more.</p>
    </div>

    <div class="col-sm  text-black" style="margin-right: 60px;">
      <img [src]="icon1" alt="" class="center" width="150px" >
      <p></p>
      <p style="font-weight: 500; font-size: larger;">Orthodontics</p>
      <p>orthodontists provide services for more than just braces, specifically in the field of the alignment of teeth or the repositioning of jaws- although braces are their primary specialty.</p>
    </div>
      
  </div>  
</div>